{% extends 'main/base.html' %}
{% block title %}Admin for {{ site_name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h1 class="mt-1 mt-lg-5 mb-1 text-center p-1 fs-2">
        Admin Panel - {{ site_name }}
    </h1>
</div>
<div class="row justify-content-end">
    <small class="col-5 mb-1 text-center p-1 fs-6">
        welcome, {{ user_name }}
    </small>
</div>
<div class="row">
    {% for endpoint, endpoint_name in endpoints %}
    <div class="col-lg-4 col-md-6 col-12">
        <span class="nav-link">
            {% if "delete" in endpoint %}
                <a class="btn btn-outline-dark disabled m-2">{{ endpoint_name }}</a>
            {% else %}
                <a class="btn btn-outline-dark m-2" href="{{ endpoint }}">{{ endpoint_name }}</a>
            {% endif %}
        </span>
    </div>
    {% endfor %}
</div>
<p class="text-end">
    <small class="text-muted">muffin-shop v{{ version }}</small>
</p>
{% endblock %}