{% extends 'main/base.html' %}
{% block title %}Upload Image{% endblock %}
{% block content %}
<nav class="d-flex mb-2">
    <a class="btn btn-secondary" href="{{ url_for('main.admin_index') }}">❮ Back</a>
</nav>
<nav><strong>Upload</strong> | <a href="{{ url_for('main.manage_images') }}">Manage</a></nav>

<div class="row justify-content-center">
	<form class="col-lg-6 col-md-8 col-12" action="" enctype="multipart/form-data" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-top border-bottom mb-4">Upload Image</legend>
            <div class="form-group">
                {% if form.image.errors %}
                {{ form.image(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.image.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.image(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
				{{ form.title.label(class="form-control-label") }}
				{% if form.title.errors %}
				{{ form.title(class="form-control form-control-lg is-invalid") }}
				<div class="invalid-feedback">
					{% for error in form.title.errors %}
					<span>{{ error }}</span>
					{% endfor %}
				</div>
				{% else %}
				{{ form.title(class="form-control form-control-lg") }}
				{% endif %}
			</div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
</div>

{% if success %}
<br>
<p>Upload Success!</p>
{% endif %}
{% endblock %}