{# Component for a Product in the Shopping Cart on the view_cart page #}
<tr>
    <th scope="row" class="border-0">
        
            <label>
                <img width="50%" class="mr-2 img-fluid rounded shadow-sm" alt="{{ item.name }}"
                    src="{{ url_for('static', filename=item.image) }}">{{ item.name }}
            </label>
        
    </th>
    <td class="border-0 align-middle"><strong>${{ item.price|currency }}</strong></td>
    <td class="border-0 align-middle"><strong>{{ quantity }}</strong></td>
    <td class="border-0 align-middle"><a href="#" class="btn">🗑️</a></td>
</tr>