<div class="col-5">
    <div class="ProductPage-buttons btn-group" role="group" aria-label="product quantity">
        <div class="d-none"><span class="ProductPage-stock">{{ product.stock }}</span> in stock</div>
        <div class="btn-group" role="group" aria-label="product quantity">
            <button type="button" class="ProductPage-quantity-down btn btn-secondary p-3">-</button>
            <div class="ProductPage-quantity p-3 text-dark">{{product.cart_quantity}}</div>
            <button type="button" class="ProductPage-quantity-up btn btn-secondary p-3">+</button>
        </div>
    </div>
</div>
<div class="col-2"></div>
<div class="col-5">
    <button type="button" id="ProductPage-add-to-cart" class="cart-btn-{{product.id}} btn btn-dark p-3 text-white">
        <img src={{url_for('static', filename='img/cart_white.png')}} id="cart-icon">
        Add to Cart
    </button>
</div>