{% set selected = 2 %}
{% extends 'base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if products|length == 0 %}
        No products are in stock! Check back later :)
        {% endif %}
        {% for product in products %}
        {% set product_url = url_for("shop.product_description", product_id=product.id) %}
        {% set quantity = product.cart_quantity %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card product-card" style="border-radius: 0px;">
                <a href="{{ product_url }}">
                    <img class="card-img-top" src="{{ url_for('static', filename=product.image) }}"
                        alt="{{ product.name }}">
                </a>
                <div class="card-body product-description" style="border-radius: 0px;">
                    <h4 class="card-title product-title">
                        <a href="{{ product_url }}">{{product.name}}</a>
                    </h4>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer row">
                    {% include 'product_page_buttons.html' %}
                    <!-- <a id="cart-btn-{{ product.id }}" class="btn btn-success cart-btn">+ Add to Cart</a>&nbsp; -->
                    <small style="font-family:serif;">${{product.price|currency}} each</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>
function add_to_cart(id) {
    fetch("{{ url_for('cart.add_product_to_cart', _external=True) }}", {
        method: "POST",
        credentials: "same-origin",
        body: JSON.stringify({"id": id, "quantity": 1}),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
    }).then(function (response) {
        response.json().then(function (data) {
            if (data["success"] === true) {
                $("#cart-number").text(data["count"]);
            }
        })
    })
};

$(function () {
    {% for product in products %}
    $('a#cart-btn-{{ product.id }}').on('click', function () { add_to_cart({{ product.id }}); });
    {% endfor %}
});
</script>
{% endblock %}