{% extends 'base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block portrait-container">
            
        </div>
        <div class="col col-lg-8 px-1 border-bottom">
            <div id="ProductPage-row" class="row">
                <span id="ProductPage-name" style="display:none">{{ site_name }}</span>
                <div id="ProductPage-slideshow"></div>
                <span id="ProductPage-slides">
                    static/img/client/the_rainbow_farm/tomato_party.jpg,
                    static/img/client/the_rainbow_farm/zucchini_party.jpg,
                    static/img/client/the_rainbow_farm/pepper_party.jpg
                </span>
            </div>
            <div class="container map-bg text-center slogan-text">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 col my-4 py-4"><p>The Rainbow Farm is part of a sustainable local agriculture movement.  We sell at farmer's markets around the Cornwall,&nbsp;Ontario region.</p></div>
                    <div class="col-lg-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-2">
    <div class="row justify-content-center">
        {% if product_categories|length == 0 %}
        <div class="row" style="min-height: 33vh">
            <div class="col-4"></div>
            <div class="my-4 text-center p-5 fs-5">
                The shop is currently out of stock.
            </div>
            <div class="col-4"></div>
        </div>
        {% endif %}
        {% for category in product_categories %}
        {% set category_url = url_for("shop.shop_category_index", title=category.name|lower|replace(" ","")|urlencode, category_id=category.id|obfuscate) %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ category_url }}">
                    <img class="card-img-top" src="{{ url_for('static', filename=category.image) }}"
                        alt="{{ category.name }}">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ category_url }}">{{category.name}}</a>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}