{% set selected = 1 %}
{% extends 'base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block" style="overflow:hidden; border-radius: 5rem;">
            <img style="margin: 0 -10%;" src="{{ url_for('static', filename='img/client/the_rainbow_farm/carli.jpg') }}">
        </div>
        <div class="col col-lg-8 px-1">
            <div class="row">
                {% include 'carousel.html' %}
            </div>
            <div class="row">
                <div class="d-flex slogan-text justify-content-center align-items-center">
                    Shop Close to Home
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% if product_categories|length == 0 %}
        No products are in stock! Check back later :)
        {% endif %}
        {% for category in product_categories %}
        {% set category_url = url_for("shop.shop_category_index", category_id=category.id) %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="{{ category_url }}">
                    <img class="card-img-top" src="{{ url_for('static', filename=category.image) }}"
                        alt="{{ category.name }}">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ category_url }}">{{category.name}}</a>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}