{% set selected = 2 %}
{% extends 'base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="ProductPage-alert-area"></div>
    {% include 'js_required.html' %}
    <div class="row">
        {% if products|length == 0 %}
        <div class="row" style="min-height: 33vh">
            <div class="col-4"></div>
            <div class="my-4 text-center p-5 fs-5">
                This product is currently out of stock.
            </div>
            <div class="col-4"></div>
        </div>
        {% endif %}
        {% for product in products %}
        {% set product_url = url_for("shop.product_description", title=product.name|lower|replace(" ","")|urlencode, product_id=product.id|obfuscate) %}
        {% set quantity = product.cart_quantity %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card product-card floating-product-card" style="border-radius: 0px;">
                <a href="{{ product_url }}">
                    <img class="card-img-top" src="{{ url_for('static', filename=product.image) }}"
                        alt="{{ product.name }}">
                </a>
                <div class="card-body product-description" style="border-radius: 0px;">
                    <h4 class="card-title product-title">
                        <a href="{{ product_url }}">{{product.name}}</a>
                    </h4>
                    <p class="card-text">{{product.description}}</p>
                </div>
                <div class="card-footer row">
                    {% include 'product_page_buttons.html' %}
                    <small style="font-family:serif;">${{product.price|currency}} each</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block script %}
<script>
    {% include 'cart_button_script.js' %}
    (function () {
        {% for product in products %}
        document.getElementsByClassName('ProductPage-cart-btn-{{ product.id }}')[0].onclick = (e) => { add_to_cart(e, {{ product.id }}); };
        {% endfor %}
    })();
</script>

<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}