{% set selected = 2 %}
{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div id="ProductPage-row" class="row">
    <div id="ProductPage-name">{{product.name}}</div>
    <div id="ProductPage-root"></div>
    <span id="ProductPage-slides">
        {{ url_for('static', filename=product.image) }}
    </span>
    <div id="ProductPage-description">{{product.description}}</div>
</div>
{% endblock %}

{% block script %}
<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}
