{% extends 'base.html' %}
{% block title %}Your Shopping Cart{% endblock %}

{% block content %}

{% if cart == [] %}
<div class="row" style="min-height: 33vh">
    <div class="col-4"></div>
    <div class="my-4 text-center p-5 fs-5">
        Your shopping cart is empty.
    </div>
    <div class="col-4"></div>
</div>
{% else %}
<div id="CartPage-container" class="container">
    {% include 'js_required.html' %}
    <div id="CartPage-root"></div> <!-- Column -->
    {% for item, quantity in cart %}
    <div class="CartPage-row row" data-product-id="{{ item.id }}">
        <div class="CartPage-name col-12 text-center text-uppercase product-title">{{ item.name }}</div>
        <div class="CartPage-image col-5">
            <img width="fit-content" class="mr-2 img-fluid rounded shadow-sm" alt="{{ item.name }}"
                src="{{ url_for('static', filename=item.image) }}">
        </div>
        <div class="CartPage-price col-2">${{ item.price|currency }}</div>
        <div class="d-none"><span class="CartPage-stock">{{ item.stock }}</span> in stock</div>
        <div class="CartPage-quantity col-3">
            {{ quantity }}
        </div>
        <div class="col-2"><a href="#" class="btn">🗑️</a></div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block script %}
<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}