[submodule "static/client/rainey_arcade/js/breakout"]
	path = static/client/rainey_arcade/js/breakout
	url = https://github.com/tassaron/breakout
	branch = main
[submodule "static/client/rainey_arcade/js/jezzball"]
	path = static/client/rainey_arcade/js/jezzball
	url = https://github.com/tassaron/jezzball
	branch = main
[submodule "static/client/rainey_arcade/js/jezzball-mini"]
	path = static/client/rainey_arcade/js/jezzball-mini
	url = https://github.com/tassaron/jezzball
	branch = feb2022-mini
[submodule "static/client/rainey_arcade/js/speed-limit"]
	path = static/client/rainey_arcade/js/speed-limit
	url = https://github.com/tassaron/speed-limit
	branch = main
[submodule "static/client/rainey_arcade/js/rodents-revenge"]
	path = static/client/rainey_arcade/js/rodents-revenge
	url = https://github.com/tassaron/rodents-revenge
	branch = main
