:root {
    --primary-font: sans-serif;
    --secondary-font: sans-serif;
}

a {
    color: rgb(36, 1, 36);
}

html {
    background-color: #4d417a;
}

#ui-layer {
    position: absolute;
    z-index: 3;
    border: 2px black solid;
}

#slow-layer {
    position: absolute;
    z-index: 2;
}

#game-layer {
    position: absolute;
    z-index: 1;
}

.footer a {
    color: #ccc;
}

.product-card {
    background: gainsboro;
}

#pause_button {
    width: 6rem;
    height: 3rem;
}