:root {
    --primary-font: sans-serif;
    --secondary-font: sans-serif;
}

a {
    color: rgb(36, 1, 36);
}

html {
    background-color: plum;
}

#ui-layer {
    position: absolute;
    z-index: 3;
    border: 2px black solid;
}

#slow-layer {
    position: absolute;
    z-index: 2;
}

#game-layer {
    position: absolute;
    z-index: 1;
}
