:root {
    --bg-color: #4d417a;
    --primary-font: var(--bs-font-sans-serif);
    --secondary-font: var(--bs-font-sans-serif);
    --nav-hover-color: black;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--bg-color);
}

a.nav-link {
    color: white;
}

a.nav-link:hover {
    color: var(--nav-hover-color);
}

a {
    color: rgb(36, 1, 36);
}

html {
    background-color: var(--bg-color);
}

#ui-layer {
    position: absolute;
    z-index: 3;
    border: 2px black solid;
}

#slow-layer {
    position: absolute;
    z-index: 2;
}

#game-layer {
    position: absolute;
    z-index: 1;
}

.footer a {
    color: #ccc;
}

.product-card {
    background: gainsboro;
}

#pause_button {
    width: 6rem;
    height: 3rem;
}

.blog-av-container {
    border-radius: 3rem;
    background: url("/static/client/rainey_arcade/img/av.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
}
