{% extends 'main/base.html' %}
{% block title %}Huey Task Results{% endblock %}
{% block content %}
<h4>Huey Task Results</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                key
            </th>
            <th>
                value
            </th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in kv %}
        <tr>
            <td>
                {{key}}
            </td>    
            <td>
                <span class="truncated">{{value}}</span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}