{% extends 'main/base.html' %}
{% block title %}Transaction Records for {{ site_name }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Transaction Records</h2>
    </div>
</div>
<nav class="d-flex mb-2">
    <a class="btn btn-secondary" href="{{ url_for('main.admin_index') }}">❮ Back</a>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-bordered table-hover shadow">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>uuid</th>
                        <th>user</th>
                        <th>contact</th>
                        <th>products</th>
                        <th>price</th>
                    </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr>
                    <th scope="row">{{transaction.id}}</th>
                    <td class="d-inline-block overflow-scroll" style="max-width:20ch">
                        transaction_uuid: {{transaction.uuid}}<br>
                        customer_uuid: {{transaction.customer_uuid}}
                    </td>
                    <td class="overflow-scroll" style="max-width:20ch">
                        {{'No Email' if not transaction.email_address else transaction.email_address.split("@")}}<br>
                        (user_id: {{transaction.user_id}})
                    </td>
                    <td class="overflow-scroll" style="max-width:50ch; max-height:50ch">
                        {{transaction.customer_name}}<br>
                        {{transaction.phone_number}}<br>
                        {{transaction.shipping_address}}
                    </td>
                    <td class="overflow-scroll" style="max-width:50ch; max-height:50ch">
                        <abbr title="{{transaction.products}}">
                            {% for product in transaction.products.split("},") %}
                                {{ product.split(",")[3].split(":", 1)[1] }}
                                {{ product.split(",")[2].split(":", 1)[1][2:-1] }}{%if loop.revindex > 1 %},{%endif%} 
                            {% endfor %}
                        </abbr>
                    </td>
                    <td>
                        {{transaction.price}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}