{% extends 'main/base.html' %}
{% block title %}Manage Shop Inventory{% endblock %}
{% block content %}
<nav><a href="{{ url_for('inventory.create_product') }}">Create New Product</a></nav>

<ul>
{% for product in products %}
    <li><a href="{{ url_for('shop.product_description', title=product.name|lower|replace(" ","")|urlencode, product_id=product.id|obfuscate) }}">{{ product.name }}</a>
    <a href="{{ url_for('inventory.edit_product', id=product.id) }}">edit</a>
    <a href="{{ url_for('inventory.delete_product', id=product.id) }}">delete</a></li>
{% endfor %}
</ul>
{% endblock %}