{% extends 'main/base.html' %}
{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="score-alert-area"></div>
{% include 'arcade/token_alert.html' %}
<div class="ms-1 row" style="min-height: 25vh">
    <div class="col-lg-4 col-md-6 col-12">
        <h2 id="game_title" data-filename="jezzball" class="text-center product-title">Featured Game:</h2>
        <div style="margin:auto; width: 240px; height: 240px;" id="game">
            <button id="send_score_button" class="hidden-arcade-btn" data-csrf-token="{{ csrf_token() }}">Send Score</button>
        </div>
        <div class="mt-1 d-flex align-items-center justify-content-center">
            <form class="text-center" action="{{ url_for('arcade.game_page', filename='jezzball') }}">
                <button class="btn btn-next" type="button" id="pause_button">Pause</button><br>
                <button class="mt-2 btn btn-default" id="swap_button" type="button">Swap Direction</button>
                <button class="mt-2 btn border-dark" type="submit">Large Version</button>
            </form>
        </div>
    </div>
    
    {% set statements = about.split("</p>")[:-1] %}
    <div class="col-lg-8 col-md-6 col-6 my-4 p-lg-5 p-md-3 p-3 fs-5 lh-lg">
        {{ statements[0]|safe }}</p>
    </div>

    {% for statement in statements[1:] %}
    <div class="{% if loop.index+1 == statements|length %}col-md-6 col-12{% else %}col-6{% endif %} my-4 p-lg-5 p-md-3 p-3 fs-5 lh-lg">
        {{ statement|safe }}</p>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center" style="min-height: 2em">
    <div class="col-md-4 col-8 border-bottom my-1 text-center product-title p-1 fs-5">
        Some software I've made<br> that isn't in the arcade:
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a href="https://github.com/tassaron/muffin-shop" class="product-link">
                <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/rainbowfarm500x325.png" alt="The Rainbow Farm">
                <div class="card-body">
                    <h4 class="card-title">Website for The Rainbow Farm</h4>
                    <p class="card-text">An ecommerce site created for a local business. It has a shopping cart system, inventory tracking for dealing with limited stock, and integration with Stripe</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a href="https://github.com/tassaron/copper-lamp" class="product-link">
                <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/copperlamp500x325.png" alt="The Rainbow Farm">
                <div class="card-body">
                    <h4 class="card-title">Copper Lamp (Minecraft Mod)</h4>
                    <p class="card-text">My first Java project. This adds 3 new blocks to Minecraft 1.18, each adding new mechanics to the game.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a href="https://bat.tassaron.com" class="product-link">
                <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/funtimes500x325.png" alt="Funtimes">
                <div class="card-body">
                    <h4 class="card-title">Batch File Interpreter for an Adventure Game</h4>
                    <p class="card-text">Python code interprets the original batch files I wrote in 2008! Play it in a web browser or a terminal</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a href="https://github.com/djfun/audio-visualizer-python/tree/feature-newgui" class="product-link">
                <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/pyaudiovis500x325.png" alt="Funtimes">
                <div class="card-body">
                    <h4 class="card-title">Python Audio Visualizer (Qt)</h4>
                    <p class="card-text">A cross-platform desktop app for generating videos with visualizations based on an input audio file. Useful for podcasters</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a href="https://github.com/tassaron/tabletop-story" class="product-link">
                <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/tabletopstory500x325.png" alt="Funtimes">
                <div class="card-body">
                    <h4 class="card-title">Tabletop Story</h4>
                    <p class="card-text">This webapp helps you play Dungeons & Dragons. Make an account, make characters, and tell a story with friends</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="/static/client/rainey_arcade/js/jezzball-mini/main.js"></script>
{% endblock %}