{% extends 'main/base.html' %}
{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div class="ms-1 row" style="min-height: 33vh">
    <div class="col-lg-4 d-none d-lg-block portrait-container"></div>
    <div class="col col-lg-8 my-4 p-5 fs-5 lh-lg">
        {{ about|safe }}
    </div>
</div>

<div class="row" style="min-height: 2em">
    <div class="col-4"></div>
    <div class="border-bottom mt-5 mb-1 text-center product-title p-1 fs-5">
        Some software I've made that isn't in the arcade:
    </div>
    <div class="col-4"></div>
</div>

<div class="row-12">
  <div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
      <img class="card-img-top" src="/static/client/rainey_arcade/img/projects/funtimes500x325.png" alt="Funtimes">
      <div class="card-body">
        <h4 class="card-title">Batch File Adventure Game as a webapp</h4>
        <p class="card-text">This Flask application interprets the original batch files I wrote in 2008!</p>
      </div>
      <div class="card-footer">
        <a href="https://bat.tassaron.com" class="btn btn-secondary">Play Now</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}