{% set selected = 6 %}
{% extends 'main/base.html' %}
{% block title %}{{ site_author }}'s Blog{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <h1 class="border-bottom mt-1 mt-lg-5 mb-1 text-center product-title p-1 fs-2">
        {{ site_author }}'s Blog
    </h1>
</div>
<div class="row justify-content-center mb-3">
{% for post in posts %}
    {% set key = 5 - loop.revindex0 %}
    <div class="col-10 shadow-sm bordered bg-light">
        {% include 'blog/blog_post.html' %}
    </div>
{% endfor %}
</div>
{% if last_page > 0 %}
<div class="row justify-content-center">
    <h1 class="border-bottom mt-1 mt-lg-5 mb-1 text-center p-1 fs-2">
        older posts
    </h1>
</div>
<div class="row justify-content-center">
    {% for i in page_range %}
        <div class="col-1">
            {% if page_num != i %}
                <a href="{{ url_for('blog.blog_page', page_num=i) }}">
                    {{ i }}
            {% else %}
                <strong>[{{ i }}]</strong>
            {% endif %}
            {% if page_num != i %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
