{% set selected = 4 %}
{% extends 'main/base.html' %}
{% block title %}{{ site_name }}{% endblock %}
{% block content %}
{% include 'arcade/token_alert.html' %}
<div class="row">
    <div class="col-lg-4 d-none d-lg-block portrait-container arcade-image"></div>
    <div class="col col-lg-8 mb-md-4 pt-md-5 px-5 pb-3 fs-5 lh-lg">
        <div class="d-lg-none d-block float-start portrait-container me-4" style="height:9rem; width: 6rem;"></div>
        {{ arcade_header|safe }}
    </div>
</div>
{% if arcade_prizes|length > 0 %}
<div class="row justify-content-center">
    <div class="border-bottom arcade-text mt-1 mt-lg-5 mb-1 text-center arcade-text p-1 fs-2">
        Your Prizes
    </div>
</div>
{% include 'arcade/your_prizes.html' %}
{% endif %}
<div class="row justify-content-center">
    <h1 class="border-bottom mt-1 mt-lg-5 mb-1 text-center arcade-text p-1 fs-2">
        Games
    </h1>
</div>
<div class="row mx-lg-0 mx-md-2 mx-0">
    {% for filename, game in games %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div tabindex="0" class="card h-100 floating-product-card">
            <a class="product-link" href="{{ url_for('arcade.game_page', filename=filename) }}">
                <img
                    class="card-img-top"
                    src="/static/client/rainey_arcade/img/projects/{{filename}}500x325.png"
                    alt="{{game.title}}"
                />
                <div class="card-body">
                    <h4 class="card-title">{{game.title}}</h4>
                    <p class="card-text">
                        {{game.blurb}}
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row my-2 justify-content-center">
    <div class="col-10 text-center fs-5">
        {{ arcade_footer|safe }}
    </div>
</div>
{% endblock %}
