{% extends 'main/base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-3 d-none d-lg-block image-container mb-2" style="min-height:20rem;"></div>
    <div class="col-lg-7 col-md-10 mb-md-4 ps-lg-4 ps-md-0 px-5 fs-6 lh-md">
        <div class="float-end ms-3" style="height:9rem; width: calc(9rem + 1vw);">
            <img src="/static/client/jlt_art/img/sisterhood--by-Jade-Thompson.webp" alt="Sisterhood, art piece by Jade Thompson">
        </div>
        {{ header|safe }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-10 px-1 border-bottom">
        <div id="ProductPage-row" class="row">
            <span id="ProductPage-name" style="display:none">{{ site_name }}</span>
            <div id="ProductPage-slideshow"></div>
            <span id="ProductPage-slides">
                {% for image_title, image_url in images %}
                    """{{ image_url }}""",
                    """{{ image_title }}"""{% if loop.index != images|length %},{% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-lg-3 col-md-5 col-10">
        <div class="row taped-container">
            {{ footer|safe }}
        </div>
    </div>
    <div class="col-lg-6 col-md-5 col-10 next-to-taped-container">
        <div class="row justify-content-center mb-3">
        {% for post in posts %}
            {% set key = 5 - loop.revindex0 %}
            <div class="col-lg-8 col-12 shadow-sm bordered bg-light">
                {% include 'blog/blog_post.html' %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}