{% set selected = 1 %}
{% extends 'base.html' %}

{% block title %}
Your Website Name
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        {% include 'carousel.html' %}
        <div class="row">
            {% if products|length == 0 %}
            No products are in stock! Check back later :)
            {% endif %}
            {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="{{url_for('static', filename='/img/product/')+product.image}}"
                            alt="{{product.name}}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{product.name}}</a>
                        </h4>
                        <h5>{{product.stock}} in stock</h5>
                        <p class="card-text">{{product.description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            Add to box for ${{product.price|currency}}
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

</div>
<!-- /.row -->
{% endblock %}
