{% extends 'main/base.html' %}
{% block title %}{{ title }} - {{ site_name }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center my-2">
        <h2 class="heading-section">{{ title }}</h2>
    </div>
</div>
<nav class="d-flex mb-2">
    <a class="btn btn-secondary" href="{{ url_for('main.admin_index') }}">❮ Back</a>
</nav>
<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-bordered table-hover shadow">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in kv %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>
                        {{key}}
                        {% if statuses is defined %}
                        {% if statuses[key] %}<br><strong>{{statuses[key]}}</strong>{% endif %}
                        {% endif %}
                    </td>    
                    <td class="d-inline-block overflow-scroll" style="max-width:100ch">
                        {{value}}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
