{% extends 'main/base.html' %}
{% block title %}Admin for {{ site_author }}'s Blog{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center my-2">
        <h2 class="heading-section">Admin for {{ site_author }}'s Blog</h2>
    </div>
</div>
<div class="row justify-content-center">
    <nav class="d-flex mb-2">
        <a class="btn btn-secondary" href="{{ url_for('main.admin_index') }}">❮ Back</a>
    </nav>
        {% for post in posts %}
            {% set key = 5 - loop.revindex0 %}
            <div class="col-10 shadow-sm bordered bg-light">
                {% include 'blog/blog_post.html' %}
                <div class="d-flex justify-content-center pb-5 border-bottom">
                    <a class="btn btn-secondary me-4" href="{{ url_for('blog.blog_edit_post', post_id=loop.revindex0) }}">edit</a>
                    <a class="btn btn-danger" href="{{ url_for('blog.blog_delete_post', post_id=loop.revindex0) }}">delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}