body {
    font-family: "Roboto Serif", sans-serif;
}

.bg-fixed {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    font-size: calc(0.8rem + 0.2vw);
    color: #666;
}

footer a {
    color: #666;
    text-decoration: none;
}

div.portrait-container {
    border-radius: 5rem;
    background: url("/static/img/client/the_rainbow_farm/brianna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
}

div.product-card {
    border-radius: 1rem;
    background: url("/static/img/client/the_rainbow_farm/flower-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

div.floating-product-card {
    transition: transform 200ms, box-shadow 200ms;
    position: relative;
}

div.floating-product-card:hover,
div.floating-product-card:focus {
    transform: scale(1.05);
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.25);
}

.product-title {
    color: #222;
}

.product-link {
    text-decoration: none;
}

.product-title a {
    color: #222;
    text-decoration: none;
}

.site-name-header span {
    font-family: "Noto Serif", serif;
    font-weight: 700;
}

/* Style every word of the site name past the first word
.site-name-header span:nth-of-type(1n + 2) {
}*/

img#cart-icon {
    width: 32px;
    height: 32px;
}

span.cart-label {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    font-weight: bold;
}

.ProductSlideshow {
    padding-bottom: 0.25rem;
}

.slogan-text {
    font-size: x-large;
    font-family: "Noto Serif", serif;
    text-shadow: 0 0 0.5rem #ccc;
}

.map-bg {
    background-image: url("/static/img/client/the_rainbow_farm/map.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.product-img div {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}

.floating-container {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    overflow: hidden;
}

.product-title {
    font-variant: small-caps;
    font-family: "Noto Serif", serif;
    line-height: 1.7;
    letter-spacing: 0.075rem;
    text-shadow: 0 0 0.5rem #ccc;
}

#ProductPage-slides {
    display: none;
}

.ProductPage-quantity {
    padding: 1rem;
}

.cart-alert {
    display: block;
}

.ProductPage-alert-area {
    position: fixed;
    max-width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn-group button {
    padding: 1rem;
    font-weight: bold;
}

.product-description {
    padding: 1rem;
    font-size: calc(1rem + 0.1vw);
    text-indent: 5%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.product-buttons-cart-indicator-text {
    /* world's best name */
    position: absolute;
    bottom: -1.375rem;
    font-size: 0.8rem;
    width: 100%;
}

.CartPage-row {
    height: 100%;
    line-height: 1.7;
}

#CartPage-root {
    min-height: 33vh;
}

.btn-default {
    border: #aaa 2px solid;
    min-width: 2.4rem;
}

.btn-secondary {
    border: #666 2px solid;
}

.btn-round {
    border-radius: 33%;
    padding: 1rem;
}

.btn-next {
    background-color: #bdc8ff;
    border: #9aacfc 2px solid;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
}

.cart-link {
    color: black;
    text-decoration: none;
}

.cart-link:hover,
.cart-link:focus {
    color: blue;
    text-decoration: none;
}

.cart-label:hover,
.cart-label:focus {
    text-decoration: underline;
}

#cart-icon {
    transition: transform 100ms;
}

#cart-icon:hover,
#cart-icon:focus {
    transform: scale(1.3);
}