div.portrait-container {
    border-radius: 5rem;
    background: url('/static/img/client/the_rainbow_farm/brianna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.site-name-header span {
    font-family: serif;
}

.site-name-header span:nth-of-type(1n+2) {
    font-weight: bold;
}

img#cart-icon {
    width: 32px;
    height: 32px;
}

a.cart-link {
    color: black;
}

span.cart-label {
    font-size: 1.2rem;
    margin-left: 0.3rem;
    font-weight: bold;
}

.ProductSlideshow {
    padding-bottom: 0.25rem;
}

.slogan-text {
    font-size: x-large;
    font-family: serif;
}

.map-bg {
    background-image: url('/static/img/client/the_rainbow_farm/map.png');
    background-position: top center;
    background-repeat: no-repeat;

}

#ProductPage-slides {
    display: none;
}