{% set selected = 3 %}
{% extends 'main/base.html' %}
{% block title %}Your Profile{% endblock %}

{% block content %}
{% if not user.email_verified %}
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Your Email Isn't Verified</h4>
    You may not receive email from us until you verify your address. If you don't receive an email within 60 seconds, <a 
    href="{{ url_for('account.request_email_verification') }}" 
    class="alert-link">you can request another one</a>. Please check your spam folder before doing so.
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="profile-head">
            <h2>Your Account</h2>
            <div class="nav nav-tabs" id="myTab" role="tablist">
                <button class="nav-link active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="true">
                    Account
                </button>
                {% for section_id, section in profile_sections.items() %}
                <button class="nav-link" id="{{ section_id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ section_id }}" type="button" role="tab" aria-controls="{{ section_id }}" aria-selected="false">
                    {{ section[0] }}
                </button>
                {% endfor %}
            </div>
        </div>
        <div class="tab-content profile-tab" id="myTabContent">
            <style>
                label {
                    font-weight: 600;
                }

                .profile-row {
                    margin-top: 1rem;
                    border-bottom: 0.2rem dashed grey;
                }
            </style>
            <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="row profile-row">
                    <div class="col-md-6">
                        <label>Email Address</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{ user.email }}</p>
                    </div>
                </div>
                <div class="row profile-row">
                    <div class="col-md-6">
                        <label>Password</label>
                    </div>
                    <div class="col-md-6">
                        <p><a href="{{ url_for('account.reset_password') }}" class="btn btn-outline-primary">Reset Password</a></p>
                    </div>
                </div>
            </div>
            {% for section_id, section in profile_sections.items() %}
            <div class="tab-pane fade" id="{{ section_id }}" role="tabpanel" aria-labelledby="{{ section_id }}-tab">
            {{ section[1]|safe }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<!-- Bootstrap 5 JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}