[Unit]
Description=Huey Consumer Process
After=network.target

[Service]
User=website
Group=www-data
WorkingDirectory=/srv/website
Environment="PATH=/srv/website/env/bin"
ExecStart=/srv/website/env/bin/huey_consumer.py tassaron_flask_template.huey -s 60
Requires=website.service

[Install]
WantedBy=multi-user.target
