# Use this file as a template for your ".env" file, which must be placed in the project root (same dir as setup.py)
EMAIL_API_KEY=
EMAIL_API_URL=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
MONITOR_USERNAME=
MONITOR_PASSWORD=

# These are the default values of other possible env variables
FLASK_ENV=development
LOG_FILE=debug.log
LOG_LEVEL=WARNING
FILESIZE_LIMIT_MB=2
DATABASE_URI=sqlite+pysqlite:///db/database.db
