{% set selected = 2 %}
{% extends 'main/base.html' %}

{% block title %}
{{ site_name }}
{% endblock %}

{% block content %}
    <div class="ProductPage-alert-area"></div>
    {% include 'shop/js_required.html' %}
    <div class="row justify-content-center">
        {% if products|length == 0 %}
        <div class="row justify-content-center" style="min-height: 33vh">
            <div class="my-4 text-center p-5 fs-5">
                All products are currently out of stock.
            </div>
        </div>
        {% else %}
        {% if not logged_in %}
        <div class="alert alert-primary">To transfer your prizes to another device, you can <a href="{{ url_for('account.register') }}">sign up for an account</a></div>
        {% endif %}
        <div class="row justify-content-center">
            <h1 class="border-bottom mt-1 mt-lg-5 mb-1 text-center product-title p-1 fs-2">
                Prizes!
            </h1>
        </div>
        {% endif %}
        {% for product in products %}
        {% set product_url = url_for("shop.product_description", title=product.name|lower|replace(" ","")|urlencode, product_id=product.id|obfuscate) %}
        {% set quantity = product.cart_quantity %}
        <div class="col-lg-4 col-md-6 col-10 mb-4">
            <div tabindex="0" class="card product-card floating-product-card" style="min-width:15rem; border-radius: 0px;">
                <a href="{{ product_url }}">
                    <img class="card-img-top center-cropped" style="height:10rem" src="{{ url_for('static', filename=product.image) }}"
                        alt="{{ product.name }}">
                </a>
                <div class="card-body product-description" style="border-radius: 0px;">
                    <h4 class="card-title product-title">
                        <a href="{{ product_url }}">{{product.name}}</a>
                    </h4>
                    <p class="card-text text-truncate" style="max-height: 4rem;">{{product.description}}</p>
                </div>
                <div class="card-footer row">
                    {% include 'shop/product_page_buttons.html' %}
                    <small style="font-family:serif;">{{product.price}} tokens each</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}


{% block script %}
<script>
    {% include 'shop/cart_button_script.js' %}
    (function () {
        {% for product in products %}
        document.getElementsByClassName('ProductPage-cart-btn-{{ product.id }}')[0].onclick = (e) => { add_to_cart(e, {{ product.id }}); };
        {% endfor %}
    })();
</script>

<!-- ReactJS -->
<script src="{{ url_for('static', filename='js/dist/bundle.js') }}"></script>
{% endblock %}